<%= form_with(model: payment_request) do |form| %>
  <% if payment_request.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(payment_request.errors.count, "error") %> prohibited this payment_request from being saved:</h2>

      <ul>
        <% payment_request.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, value: number_to_currency(form.object.amount.to_f, delimiter: '', unit: ''), step: :any, min: 0 %>
  </div>

  <div class="field">
    <%= form.label :currency %>
    <%= form.text_field :currency %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <%= form.hidden_field :employee_id, value: @employee.id %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
